<div class="side">
  <div class="loginer">
    {{#if _USER_}}
      <img src="{{_USER_.avatar}}" alt="">
      <a href="/user">{{_USER_.name}}</a>
      <a href="javascript:;" class="login-out iconfont icon-out"></a>
    {{else}}
      <a href="/login">Login</a>
    {{/if}}
  </div>
  <div class="side_menu">
    <ul>
      <li><a href="/history">浏览记录</a></li>
      <li><a href="/recommend">为您推荐</a></li>
      <li><a href="/guess_like">猜您喜欢</a></li>
    </ul>
  </div>
  {{> comment}}
</div>
