<div class="form">
  <form class="admin-login">
    <ul>
      <li><label>用户名：</label><input type="text" name="name" placeholder="请输入用户名" value="admin"></li>
      <li><label>密码：</label><input type="password" name="password" placeholder="请输入密码" value="123456"></li>
    </ul>
    <div class="control"><input type="submit" value="登 录"></div>
  </form>
</div>
