<div class="wrap-header">
  <h3>{{title}}</h3>
  <form class="search">
    <input name="q" type="text" placeholder="Search..." value="{{q}}">
    <button class="iconfont icon-search"></button>
  </form>
</div>
