body {
  font-family: "微软雅黑";
  font-size: 14px;
  color: #3c4c55;
}

a {
  color: #3c4c55;
}

.clear {
  zoom: 1;
}
.clear:after {
  content: "\20";
  display: block;
  clear: both;
  height: 0;
}

::-moz-selection {
  background-color: #cc4d4d;
  color: #fff;
}
::-webkit-selection {
  background-color: #cc4d4d;
  color: #fff;
}
::selection {
  background-color: #cc4d4d;
  color: #fff;
}

::-webkit-input-placeholder {
  color: #ccc;
}
::-moz-placeholder {
  color: #ccc;
}

.iconfont {
  font-size: 14px !important;
  vertical-align: middle;
}
