body {
  font-size: 14px;
  color: #3c4c55;
  overflow: hidden;
}

a {
  color: #3c4c55;
}

.clear {
  zoom: 1;
}
.clear:after {
  content: "\20";
  display: block;
  clear: both;
  height: 0;
}

.iconfont {
  font-size: 14px !important;
}

.menus {
  float: left;
  width: 200px;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
  background-color: #11171c;
}
.menus header {
  font-size: 32px;
  color: #edf0f2;
  padding-left: 32px;
  height: 85px;
  line-height: 85px;
  background-color: #cc4d4d;
}
.menus ul {
  padding: 16px 16px 0;
}
.menus ul li a {
  padding: 5px 16px;
  display: block;
  color: #fff;
  border-radius: 3px;
}
.menus ul li a:hover {
  background-color: #1c242b;
}

.wrapper {
  padding: 0 32px;
  overflow: hidden;
  zoom: 1;
}
.wrapper .wrap-header {
  height: 85px;
  line-height: 85px;
}
.wrapper .wrap-header h3 {
  font-size: 32px;
}

.sign-wrap {
  margin: 25px 10px 50px;
  overflow: auto;
}
.sign-wrap ul {
}
.sign-wrap ul li {
  margin: 10px 0;
  line-height: 25px;
}
.sign-wrap ul label {
  width: 100px;
  text-align: right;
  margin-right: 10px;
  display: inline-block;
  zoom: 1;
}
.sign-wrap ul input[type=text], .sign-wrap ul input[type=password] {
  height: 25px;
  width: 200px;
  padding: 0 5px;
}
.sign-wrap ul input[type=submit] {
  width: 100px;
  height: 30px;
  line-height: 30px;
  border: #ccc solid 1px;
  background-color: #fefefe;
}
.sign-wrap ul .note {
  color: #999;
  font-size: 12px;
  margin-left: 10px;
}

.side {
  float: right;
  width: 220px;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
  background-color: #ecedef;
}
.side .loginer {
  padding: 0 32px;
  height: 85px;
  line-height: 85px;
  color: #fff;
  background-color: #74c0c8;
}
.side .loginer img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
  border-radius: 50%;
}
.side .loginer a {
  color: #fff;
}
.side .loginer .login-out {
  float: right;
}

footer {
  color: #ccc;
  padding: 10px 0;
  line-height: 1.8em;
  text-align: center;
  background-color: #666;
  box-shadow: rgba(0, 0, 0, .3) 0 -1px 2px;
}
