html, body {
  height: 100%;
}

.layout {
  min-height: 100%;
  overflow: hidden;
}

@keyframes progressing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes progressing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes progressing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.menus {
  float: left;
  width: 200px;
  padding: 85px 0 1000px;
  margin-bottom: -1000px;
  background-color: #11171c;
}
.menus a {
  color: #fff;
}
.menus header {
  font-size: 32px;
  color: #edf0f2;
  height: 85px;
  line-height: 85px;
  background-color: #cc4d4d;
  position: absolute;
  top: 0;
  animation: progressing 2s ease-out forwards;
  -moz-animation: progressing 2s ease-out forwards;
  -webkit-animation: progressing 2s ease-out forwards;
}
.menus header h1 {
  padding-left: 32px;
}
.menus ul {
  padding: 16px 16px 0;
}
.menus ul li a {
  padding: 5px 16px;
  display: block;
  border-radius: 3px;
}
.menus ul li a:hover {
  background-color: #1c242b;
}

.wrapper {
  padding: 0 32px;
  overflow: hidden;
  zoom: 1;
}
.wrapper .wrap-header {
  height: 85px;
  line-height: 85px;
  margin: 0 -32px 20px;
  padding: 0 32px;
  background-color: rgba(255, 255, 255, .9);
  position: relative;
  z-index: 1;
}
.wrapper .wrap-header h3 {
  font-size: 32px;
  float: left;
}
.wrapper .wrap-header .search {
  float: right;
}
.wrapper .wrap-header .search input {
  font-style: italic;
  font-size: 18px;
  width: 200px;
  color: #999;
  border: none;
  border-bottom: #bbb solid 1px;
  background-color: transparent;
}
.wrapper .wrap-header .search button {
  font-size: 18px !important;
  color: #bbb;
  border: none;
  background-color: transparent;
}

/* movie list */
.movie-list {
  margin-left: -32px;
}
.movie-list li {
  float: left;
  width: 132px;
  margin: 0 0 20px 32px;
  position: relative;
  zoom: 1;
}
.movie-list li .poster {
  display: inline-block;
  width: 100%;
  height: 196px;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  zoom: 1;
}
.movie-list li .poster img {
  width: 100%;
  height: 100%;
}
.movie-list li .poster .other {
  width: 100%;
  height: 100%;
  line-height: 196px;
  text-align: center;
  background-color: rgba(0, 0, 0, .7);
  position: absolute;
  top: 0;
  opacity: 0;
  transition: all .3s;
}
.movie-list li .poster:hover .other {
  opacity: 1;
}
.movie-list li .poster .other .time-loading,
.movie-list li .poster .other .time-loading .left-clip,
.movie-list li .poster .other .time-loading .left,
.movie-list li .poster .other .time-loading .right-clip,
.movie-list li .poster .other .time-loading .right {
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  right: -2px;
}
.movie-list li .poster .other .time-loading {
  right: 10px;
  top: 10px;
  width: 12px;
  height: 12px;
  border: #ccc solid 2px;
}
.movie-list li .poster .other .time-loading .left-clip,
.movie-list li .poster .other .time-loading .left,
.movie-list li .poster .other .time-loading .right-clip,
.movie-list li .poster .other .time-loading .right {
  width: 16px;
  height: 16px;
}
.movie-list li .poster .other .time-loading .left,
.movie-list li .poster .other .time-loading .right {
  right: 0;
  top: 0;
  background-color: #000;
  content: "\20";
}
.movie-list li .poster .other .time-loading .left-clip,
.movie-list li .poster .other .time-loading .left {
  clip: rect(0, 8px, 16px, 0);
}
.movie-list li .poster .other .time-loading .left {
  transition: all 1s 1s;
}
.movie-list li .poster .other:hover .time-loading .left {
  transform: rotate(180deg);
}
.movie-list li .poster .other .time-loading .right-clip,
.movie-list li .poster .other .time-loading .right {
  clip: rect(0, 16px, 16px, 8px);
}
.movie-list li .poster .other .time-loading .right {
  transition: all 1s .2s;
}
.movie-list li .poster .other:hover .time-loading .right {
  transform: rotate(180deg);
}
.movie-list li .poster .other .play {
  font-size: 32px !important;
  color: #eee;
}
.movie-list li h4, .movie-list li p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.movie-list li p {
  font-size: 12px;
  color: #bbb;
}

.detail-model {
  width: 320px;
  padding: 20px;
  font-size: 12px;
  color: #ddd;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, .85);
  position: absolute;
  top: 0;
  left: 146px;
  z-index: 2;
  display: none;
}
.detail-model:before {
  content: "\20";
  width: 0;
  height: 0;
  border: transparent solid 8px;
  border-right-color: rgba(0, 0, 0, .9);
  overflow: hidden;
  position: absolute;
  left: -16px;
  top: 20px;
}
.detail-model p {
  margin: 8px 0;
}
.detail-model h5 {
  font-size: 16px;
  color: #fff;
  float: left;
}
.detail-model .long {
  float: right;
  margin-top: 5px;
}
.detail-model .summary {
  line-height: 1.5em;
  max-height: 4.5em;
  overflow: hidden;
}
.detail-model .comment {
  padding: 5px 0;
  border-top: #999 solid 1px;
  border-bottom: #999 solid 1px;
}
.detail-model .comment i {
  font-size: 16px !important;
}
.detail-model .comment i.active {
  color: #f5b041;
}
.detail-model .comment .comment-number {
  float: right;
}
.detail-model .comment .comment-number i {
  margin-left: 5px;
  position: relative;
  top: -1px;
}
.detail-model .recommend {
  padding-top: 5px;
  text-align: right;
}
.detail-model .recommend span {
  float: left;
}
.detail-model .recommend img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 5px;
  vertical-align: middle;
}

.sign-wrap {
  margin: 25px 10px 50px;
  overflow: auto;
}
.sign-wrap ul {
}
.sign-wrap ul li {
  margin: 10px 0;
  line-height: 25px;
}
.sign-wrap ul label {
  width: 100px;
  text-align: right;
  margin-right: 10px;
  display: inline-block;
  zoom: 1;
}
.sign-wrap ul input[type=text], .sign-wrap ul input[type=password] {
  height: 25px;
  width: 200px;
  padding: 0 5px;
}
.sign-wrap ul input[type=submit] {
  width: 100px;
  height: 30px;
  line-height: 30px;
  border: #ccc solid 1px;
  background-color: #fefefe;
}
.sign-wrap ul .note {
  color: #999;
  font-size: 12px;
  margin-left: 10px;
}

.side {
  float: right;
  width: 220px;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
  background-color: #ecedef;
}
.side .loginer {
  padding: 0 32px;
  height: 85px;
  line-height: 85px;
  color: #fff;
  background-color: rgba(116, 192, 200, .9);
  position: relative;
  z-index: 1;
}
.side .loginer img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
  border-radius: 50%;
}
.side .loginer a {
  color: #fff;
}
.side .loginer .login-out {
  float: right;
}

footer {
  color: #ccc;
  padding: 10px 0;
  line-height: 1.8em;
  text-align: center;
  background-color: #666;
  box-shadow: rgba(0, 0, 0, .3) 0 -1px 2px;
}
