<div class="form">
  <form class="login">
    <ul>
      <li><label>用户名：</label><input type="text" name="name" placeholder="请输入用户名" value="JSANN"></li>
      <li><label>密码：</label><input type="password" name="password" placeholder="请输入密码" value="123"></li>
    </ul>
    <div class="control"><input type="submit" value="登 录">还没有账号？<a href="/register">立即注册</a></div>
  </form>
</div>
