<div class="register form">
  <form>
    <ul>
      <li><label>用户名：</label><input type="text" name="name" placeholder="请输入用户名"></li>
      <li><label>密码：</label><input type="password" name="password" placeholder="请输入密码"></li>
      <li><label>确认密码：</label><input name="" placeholder="请输入确认密码"></li>
    </ul>
    <div class="control"><input type="submit" value="注 册"></div>
  </form>
</div>
