<div class="wrapper">
  {{> common_title}}
  <div class="profile">
    <ul>
      <li><img src="" alt=""></li>
      <li><input type="file"></li>
      <li><button>上传并修改</button></li>
    </ul>
    <ul>
      <li><label>用户名</label><input type="text"></li>
      <li><label>密码</label><input type="password"></li>
      <li><label>确认密码</label><input type="password"></li>
      <li><label></label><button>修改</button></li>
    </ul>
  </div>
</div>
