<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{title}}</title>
<link rel="stylesheet" href="/style/reset.css">
<link rel="stylesheet" href="/style/default.css">
<script src="/script/jquery.min.js"></script>
<script src="/script/validator.min.js"></script>
<script src="/script/jquery.serialize-object.min.js"></script>
<script src="/script/default.js"></script>
</head>
<body>
  {{{body}}}
</body>
</html>
