<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{title}}</title>
<script src="/script/jquery.min.js"></script>
<script src="/script/default.js"></script>
</head>
<body>
  {{{body}}}
</body>
</html>
