<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{title}} - Demo Movies</title>
<link rel="stylesheet" href="/style/reset.css">
<link rel="stylesheet" href="/style/common.css">
<link rel="stylesheet" href="/style/special.css">
<link rel="stylesheet" href="http://at.alicdn.com/t/font_1425536241_8158848.css">
<script src="/script/jquery.min.js"></script>
</head>
<body>
  <div class="special-layout">
    <div class="special-menus clear">
      <header>
        <h1><a href="/">Movies</a></h1>
      </header>
      <ul class="clear">
        <li><a href="/">首页</a></li>
        <li><a href="/new">最新</a></li>
        <li><a href="/hot">热播</a></li>
        <li><a href="/history">浏览记录</a></li>
        <li><a href="/recommend">为你推荐</a></li>
        <li><a href="/guess-like">猜你喜欢</a></li>
      </ul>
      <div class="control">
        <div class="search"></div>
        <a href="/login">Login</a>
        <a class="register" href="/register">Register</a>
      </div>
    </div>
    {{{body}}}
  </div>
</body>
</html>
