<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{title}} - Demo Movies</title>
<link rel="stylesheet" href="/style/reset.css">
<link rel="stylesheet" href="/style/common.css">
<link rel="stylesheet" href="/style/default.css">
<link rel="stylesheet" href="http://at.alicdn.com/t/font_1425536241_8158848.css">
<script src="/script/jquery.min.js"></script>
<script src="/script/validator.min.js"></script>
<script src="/script/jquery.serialize-object.min.js"></script>
<script src="/script/default.js"></script>
</head>
<body>
  <div class="layout">
    <div class="menus">
      <header>
        <h1><a href="/">Movies</a></h1>
      </header>
      <ul>
        <li><a href="/">首页</a></li>
        <li><a href="/new">最新</a></li>
        <li><a href="/hot">热播</a></li>
      </ul>
      <ul>
        <li><a href="/user">用户中心</a></li>
        <li><a href="/user/profile">我的资料</a></li>
      </ul>
    </div>
    {{{body}}}
  </div>
</body>
</html>
